.container {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  height: 100vh;
}

.form {
  border-right: 1px solid #E2E8F0
}

.customersList {
  padding: 40px;
}

.container h2 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom: 40px;
  font-weight: 700;
}